#UsuaTable {
	width: 100% !important;
}

#UsuaTable .bg-danger{
	background-color: rgba( 255, 0, 0, 0.7 ) !important;
	color: black !important;
}

#FormUsua input{
	text-transform: uppercase;
}

#FormUsua #LogiUsua{
	text-transform: lowercase;
}